<%- include("../partials/header") %>

<div class="container">
    <div class="row">
        <div class="col-12">
            <form action="/newpassword/<%= token %>" method="POST">
                <div class="form-group">
                    <label for="setpassword">New password</label>
                    <input type="password" name="setpassword" class="form-control">
                </div>
                <div class="form-group">
                    <label for="confirmpassword">Confirm password</label>
                    <input type="password" name="confirmpassword" class="form-control">
                </div>
                <button class="btn btn-primary">Set new password</button>
            </form>
        </div>
    </div>
</div>

<%- include("../partials/footer") %>