<%- include("../partials/header") %>

<div class="container">
    <div class="row">
        <div class="col-12">
            <form action="/resetpassword" method="POST">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" name="email" class="form-control" autofocus placeholder="passoword recovery email">
                </div>
                <div class="form-group">
                    <button class="btn btn-primary">Reset Password</button>
                </div>
            </form>
        </div>
    </div>
</div>

<%- include("../partials/footer") %>