<!DOCTYPE html>
<html>
<head>
    <title>YelpCamp</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="stylesheet/landing.css">
</head>
<body>
    <div class="landing">
        <h1>Welcome to the YelpCamp</h1>
        <a href="/campgrounds" class="btn btn-lg btn-success">View all Campgrounds</a>
        
    </div>
    <ul class="slideshow">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</body>
</html>